body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
/* Navigation */
#header nav {
  text-align: center;
  margin: 60px 0 80px 0;
}
#header a {
  display: inline-block;
  font-size: 1.5em;
  color: black;
  padding-left: 35px;
}
#header a:hover {
  text-decoration: underline;
}
#my_pic {
  width: 300px;
  border-radius: 500px;
}

#intro {
  display: flex;
  justify-content: center;
}
#intro img {
  margin-right: 25px;
}
#intro p {
  margin: 75px 0 0 25px;
  width: 550px;
  font-size: 1.5em;
  line-height: 1.8;
}

#contact_me_btn {
  display: block;
  margin: 25px auto;
  background-color: chocolate;
  padding: 10px 50px;
  border-radius: 50px;
  font-size: 1em;
  color: rgb(240, 240, 240);
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
}
#photo {
  margin-top: 70px;
}
#photo h1 {
  text-align: center;
  margin-bottom: 50px;
}
#photo img {
  width: 250px;
}
#photo div {
}
#photo_flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
#footer {
  background-color: rgb(196, 196, 196);
  text-align: center;
  display: block;
  padding: 20px 0;
  margin-top: 50px;
}

#footer p,
#footer a {
  font-size: 1.1em;
  color: chocolate;
}
#project-img {
  display: flex;

  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
#project-img p {
  text-align: center;
  font-size: 1.1em;
}
#project-img img {
  width: 350px;
}
#project-header {
  text-align: center;
  padding-bottom: 20px;
}
#textarea {
  width: 300px;
}
.form_elem label {
  padding-right: 20px;
}
.form_elem {
  margin-bottom: 15px;
}
#form {
  display: block;
  margin: 0 auto;
  text-align: center;
}
#msg {
  width: 300px;
  height: 100px;
}
